# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/

# C++ Extensions (compiled objects)
*.so
build/
dist/
*.egg-info/

# Data and Checkpoints
data/
dataset/

# Logs and Artefacts
*.log
artefacts/
checkpoints/

# Pickles
*.pkl

# Colab / Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Pack
rl-nbv-trainer-bundle.zip
